<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>Vienna (Austria)</string>
		<array>
			<dict>
				<key>imageName</key>
				<string>v1</string>
				<key>aperture</key>
				<string>f2.8</string>
				<key>shutterSpeed</key>
				<string>400</string>
				<key>iso</key>
				<string>100</string>
				<key>comment</key>
				<string>HDR image of a weekend market in Vienna.</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>v2</string>
				<key>aperture</key>
				<string>f2.8</string>
				<key>shutterSpeed</key>
				<string>400</string>
				<key>iso</key>
				<string>100</string>
				<key>comment</key>
				<string>HDR image of the opera house.</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>v3</string>
				<key>aperture</key>
				<string>f2.8</string>
				<key>shutterSpeed</key>
				<string>600</string>
				<key>iso</key>
				<string>100</string>
				<key>comment</key>
				<string>HDR image of the exterior of the opera house.</string>
			</dict>
		</array>
	</array>
	<array>
		<string>Rome (Italy)</string>
		<array>
			<dict>
				<key>imageName</key>
				<string>r1</string>
				<key>aperture</key>
				<string>f2.8</string>
				<key>shutterSpeed</key>
				<string>400</string>
				<key>iso</key>
				<string>100</string>
				<key>comment</key>
				<string>HDR image of a section of the Coliseum.</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>r2</string>
				<key>aperture</key>
				<string>f2.8</string>
				<key>shutterSpeed</key>
				<string>400</string>
				<key>iso</key>
				<string>100</string>
				<key>comment</key>
				<string>HDR image of the Coliseum.</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>r3</string>
				<key>aperture</key>
				<string>f2.8</string>
				<key>shutterSpeed</key>
				<string>600</string>
				<key>iso</key>
				<string>100</string>
				<key>comment</key>
				<string>HDR image of the entrance to the Coliseum.</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>r4</string>
				<key>aperture</key>
				<string>f2.8</string>
				<key>shutterSpeed</key>
				<string>600</string>
				<key>iso</key>
				<string>100</string>
				<key>comment</key>
				<string>HDR image of the interior of the Coliseum.</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>r5</string>
				<key>aperture</key>
				<string>f2.8</string>
				<key>shutterSpeed</key>
				<string>400</string>
				<key>iso</key>
				<string>100</string>
				<key>comment</key>
				<string>HDR image of the interior of the Coliseum.</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>r6</string>
				<key>aperture</key>
				<string>f2.8</string>
				<key>shutterSpeed</key>
				<string>400</string>
				<key>iso</key>
				<string>100</string>
				<key>comment</key>
				<string>HDR Image of the exterior of the Coliseum.</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>r7</string>
				<key>aperture</key>
				<string>f2.8</string>
				<key>shutterSpeed</key>
				<string>400</string>
				<key>iso</key>
				<string>100</string>
				<key>comment</key>
				<string>HDR Image of the interior of a chapel.</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>r8</string>
				<key>aperture</key>
				<string>f2.8</string>
				<key>shutterSpeed</key>
				<string>600</string>
				<key>iso</key>
				<string>100</string>
				<key>comment</key>
				<string>A colourful roman building.</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>r9</string>
				<key>aperture</key>
				<string>f2.8</string>
				<key>shutterSpeed</key>
				<string>600</string>
				<key>iso</key>
				<string>100</string>
				<key>comment</key>
				<string>Street-side drinking water.</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>r10</string>
				<key>aperture</key>
				<string>f2.8</string>
				<key>shutterSpeed</key>
				<string>400</string>
				<key>iso</key>
				<string>100</string>
				<key>comment</key>
				<string>Inscription at entrance to Coliseum.</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>r11</string>
				<key>aperture</key>
				<string>f2.8</string>
				<key>shutterSpeed</key>
				<string>400</string>
				<key>iso</key>
				<string>100</string>
				<key>comment</key>
				<string>Quaint Italian restaurant in Rome.</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>r12</string>
				<key>aperture</key>
				<string>f2.8</string>
				<key>shutterSpeed</key>
				<string>400</string>
				<key>iso</key>
				<string>100</string>
				<key>comment</key>
				<string>HDR image of the fountain at the Piazza Navona.</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>r13</string>
				<key>aperture</key>
				<string>f2.8</string>
				<key>shutterSpeed</key>
				<string>400</string>
				<key>iso</key>
				<string>100</string>
				<key>comment</key>
				<string>HDR image of the fountain at the Piazza Navona.</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>r14</string>
				<key>aperture</key>
				<string>f2.8</string>
				<key>shutterSpeed</key>
				<string>400</string>
				<key>iso</key>
				<string>100</string>
				<key>comment</key>
				<string>HDR image of the ceiling above the tomb of Raphael.</string>
			</dict>
		</array>
	</array>
	<array>
		<string>Paris (France)</string>
		<array>
			<dict>
				<key>imageName</key>
				<string>par1</string>
				<key>aperture</key>
				<string>f2.8</string>
				<key>shutterSpeed</key>
				<string>8s</string>
				<key>iso</key>
				<string>100</string>
				<key>comment</key>
				<string>Eiffel Tower at dusk (view from the Trocadéro).</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>par2</string>
				<key>aperture</key>
				<string>f2.8</string>
				<key>shutterSpeed</key>
				<string>400</string>
				<key>iso</key>
				<string>100</string>
				<key>comment</key>
				<string>HDR image of La Bourse.</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>par3</string>
				<key>aperture</key>
				<string>f2.8</string>
				<key>shutterSpeed</key>
				<string>600</string>
				<key>iso</key>
				<string>100</string>
				<key>comment</key>
				<string>Paris in autumn.</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>par4</string>
				<key>aperture</key>
				<string>f2.8</string>
				<key>shutterSpeed</key>
				<string>600</string>
				<key>iso</key>
				<string>100</string>
				<key>comment</key>
				<string>Paris in autumn.</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>par5</string>
				<key>aperture</key>
				<string>f2.8</string>
				<key>shutterSpeed</key>
				<string>400</string>
				<key>iso</key>
				<string>100</string>
				<key>comment</key>
				<string>HDR Image of an ornate fountain at Place de la Concorde.</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>par6</string>
				<key>aperture</key>
				<string>f2.8</string>
				<key>shutterSpeed</key>
				<string>400</string>
				<key>iso</key>
				<string>100</string>
				<key>comment</key>
				<string>HDR Image of an ornate fountain at Place de la Concorde.</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>par7</string>
				<key>aperture</key>
				<string>f2.8</string>
				<key>shutterSpeed</key>
				<string>400</string>
				<key>iso</key>
				<string>100</string>
				<key>comment</key>
				<string>HDR Image of an ornate fountain at Place de la Concorde.</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>par8</string>
				<key>aperture</key>
				<string>f2.8</string>
				<key>shutterSpeed</key>
				<string>600</string>
				<key>iso</key>
				<string>100</string>
				<key>comment</key>
				<string>HDR image of Egyptian obelisk at Place de la Concorde.</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>par9</string>
				<key>aperture</key>
				<string>f2.8</string>
				<key>shutterSpeed</key>
				<string>8s</string>
				<key>iso</key>
				<string>100</string>
				<key>comment</key>
				<string>Eiffel Tower.</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>par10</string>
				<key>aperture</key>
				<string>f2.8</string>
				<key>shutterSpeed</key>
				<string>6s</string>
				<key>iso</key>
				<string>100</string>
				<key>comment</key>
				<string>HDR image of Eiffel Tower.</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>par11</string>
				<key>aperture</key>
				<string>f2.8</string>
				<key>shutterSpeed</key>
				<string>400</string>
				<key>iso</key>
				<string>100</string>
				<key>comment</key>
				<string>Ceiling of the Galleries La Fayette department store.</string>
			</dict>
		</array>
	</array>
	<array>
		<string>London (U.K)</string>
		<array>
			<dict>
				<key>imageName</key>
				<string>lon1</string>
				<key>aperture</key>
				<string>f2.8</string>
				<key>shutterSpeed</key>
				<string>125</string>
				<key>iso</key>
				<string>800</string>
				<key>comment</key>
				<string>London Eye (view from Westminister bridge).</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>lon2</string>
				<key>aperture</key>
				<string>f2.8</string>
				<key>shutterSpeed</key>
				<string>400</string>
				<key>iso</key>
				<string>800</string>
				<key>comment</key>
				<string>Looking up at the London Eye.</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>lon3</string>
				<key>aperture</key>
				<string>f2.8</string>
				<key>shutterSpeed</key>
				<string>400</string>
				<key>iso</key>
				<string>400</string>
				<key>comment</key>
				<string>HDR image of Tower bridge, taken from the Tower of London</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>lon4</string>
				<key>aperture</key>
				<string>f2.8</string>
				<key>shutterSpeed</key>
				<string>100</string>
				<key>iso</key>
				<string>100</string>
				<key>comment</key>
				<string>HDR image of Tower bridge, taken from tower hamlets.</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>lon5</string>
				<key>aperture</key>
				<string>f2.8</string>
				<key>shutterSpeed</key>
				<string>3s</string>
				<key>iso</key>
				<string>100</string>
				<key>comment</key>
				<string>HDR Image of the National Gallery.</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>lon6</string>
				<key>aperture</key>
				<string>f2.8</string>
				<key>shutterSpeed</key>
				<string>3s</string>
				<key>iso</key>
				<string>100</string>
				<key>comment</key>
				<string>Trafalgar square.</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>lon7</string>
				<key>aperture</key>
				<string>f2.8</string>
				<key>shutterSpeed</key>
				<string>8s</string>
				<key>iso</key>
				<string>100</string>
				<key>comment</key>
				<string>Trafalgar square.</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>lon8</string>
				<key>aperture</key>
				<string>f2.8</string>
				<key>shutterSpeed</key>
				<string>3s</string>
				<key>iso</key>
				<string>100</string>
				<key>comment</key>
				<string>Admiralty Arch</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>lon9</string>
				<key>aperture</key>
				<string>f2.8</string>
				<key>shutterSpeed</key>
				<string>8s</string>
				<key>iso</key>
				<string>100</string>
				<key>comment</key>
				<string>HDR image of Queen Victoria Memorial.</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>lon10</string>
				<key>aperture</key>
				<string>f2.8</string>
				<key>shutterSpeed</key>
				<string>6s</string>
				<key>iso</key>
				<string>100</string>
				<key>comment</key>
				<string>HDR image of Buckingham palace.</string>
			</dict>
		</array>
	</array>
	<array>
		<string>Barcelona (Spain)</string>
		<array>
			<dict>
				<key>imageName</key>
				<string>bar1</string>
				<key>aperture</key>
				<string>f2.8</string>
				<key>shutterSpeed</key>
				<string>400</string>
				<key>iso</key>
				<string>100</string>
				<key>comment</key>
				<string>Rustic worn out door.</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>bar2</string>
				<key>aperture</key>
				<string>f2.8</string>
				<key>shutterSpeed</key>
				<string>250</string>
				<key>iso</key>
				<string>100</string>
				<key>comment</key>
				<string>Taken at Gaudi&apos;s Park Güell in Barcelona.</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>bar3</string>
				<key>aperture</key>
				<string>f2.8</string>
				<key>shutterSpeed</key>
				<string>800</string>
				<key>iso</key>
				<string>100</string>
				<key>comment</key>
				<string>Taken at La Ramblas in Barcelona.</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>bar4</string>
				<key>aperture</key>
				<string>f4.0</string>
				<key>shutterSpeed</key>
				<string>100</string>
				<key>iso</key>
				<string>100</string>
				<key>comment</key>
				<string>HDR Image, taken at La Ramblas in Barcelona.</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>bar5</string>
				<key>aperture</key>
				<string>f2.8</string>
				<key>shutterSpeed</key>
				<string>400</string>
				<key>iso</key>
				<string>100</string>
				<key>comment</key>
				<string>HDR Image, taken at La Ramblas in Barcelona.</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>bar6</string>
				<key>aperture</key>
				<string>f2.8</string>
				<key>shutterSpeed</key>
				<string>400</string>
				<key>iso</key>
				<string>100</string>
				<key>comment</key>
				<string>HDR Image of the front face of Hotel Ramblas, taken at La Ramblas in Barcelona.</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>bar7</string>
				<key>aperture</key>
				<string>f2.8</string>
				<key>shutterSpeed</key>
				<string>800</string>
				<key>iso</key>
				<string>100</string>
				<key>comment</key>
				<string>HDR image of rustic letterbox.</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>bar8</string>
				<key>aperture</key>
				<string>f2.8</string>
				<key>shutterSpeed</key>
				<string>400</string>
				<key>iso</key>
				<string>100</string>
				<key>comment</key>
				<string>Centro Comercial Maremagnum.</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>bar9</string>
				<key>aperture</key>
				<string>f2.8</string>
				<key>shutterSpeed</key>
				<string>400</string>
				<key>iso</key>
				<string>100</string>
				<key>comment</key>
				<string>HDR Image of gravelled backyard near Park Güell</string>
			</dict>
		</array>
	</array>
	<array>
		<string>Cadiz (Spain)</string>
		<array>
			<dict>
				<key>imageName</key>
				<string>cad1</string>
				<key>aperture</key>
				<string>f2.8</string>
				<key>shutterSpeed</key>
				<string>650</string>
				<key>iso</key>
				<string>100</string>
				<key>comment</key>
				<string>HDR image of colorfull alley.</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>cad2</string>
				<key>aperture</key>
				<string>f2.8</string>
				<key>shutterSpeed</key>
				<string>250</string>
				<key>iso</key>
				<string>100</string>
				<key>comment</key>
				<string>HDR image of the entrance to Bodegas Sanatorios</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>cad3</string>
				<key>aperture</key>
				<string>f2.8</string>
				<key>shutterSpeed</key>
				<string>150</string>
				<key>iso</key>
				<string>100</string>
				<key>comment</key>
				<string>Sunset near the city of Cadiz.</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>cad4</string>
				<key>aperture</key>
				<string>f4.0</string>
				<key>shutterSpeed</key>
				<string>650</string>
				<key>iso</key>
				<string>100</string>
				<key>comment</key>
				<string>HDR Image, of a street leading to Caidz cathedral.</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>cad5</string>
				<key>aperture</key>
				<string>f2.8</string>
				<key>shutterSpeed</key>
				<string>1600</string>
				<key>iso</key>
				<string>100</string>
				<key>comment</key>
				<string>HDR Image of Cadiz cathedral.</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>cad6</string>
				<key>aperture</key>
				<string>f2.8</string>
				<key>shutterSpeed</key>
				<string>125</string>
				<key>iso</key>
				<string>100</string>
				<key>comment</key>
				<string>HDR Image of the interior of Cadiz cathedral.</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>cad7</string>
				<key>aperture</key>
				<string>f2.8</string>
				<key>shutterSpeed</key>
				<string>80</string>
				<key>iso</key>
				<string>100</string>
				<key>comment</key>
				<string>HDR image of catacolmbs beneath Cadiz cathedral.</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>cad8</string>
				<key>aperture</key>
				<string>f2.8</string>
				<key>shutterSpeed</key>
				<string>125</string>
				<key>iso</key>
				<string>100</string>
				<key>comment</key>
				<string>HDR Image of the interior of Cadiz cathedral.</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>cad9</string>
				<key>aperture</key>
				<string>f2.8</string>
				<key>shutterSpeed</key>
				<string>125</string>
				<key>iso</key>
				<string>100</string>
				<key>comment</key>
				<string>HDR Image of the altar, Cadiz cathedral.</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>cad10</string>
				<key>aperture</key>
				<string>f2.8</string>
				<key>shutterSpeed</key>
				<string>600</string>
				<key>iso</key>
				<string>100</string>
				<key>comment</key>
				<string>HDR Image of csthedral exterior</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>cad11</string>
				<key>aperture</key>
				<string>f2.8</string>
				<key>shutterSpeed</key>
				<string>650</string>
				<key>iso</key>
				<string>100</string>
				<key>comment</key>
				<string>HDR Image of beach near Cadiz.</string>
			</dict>
		</array>
	</array>
</array>
</plist>
